/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/chat.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.chat_chatContainer__VH9z5 {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
  }
  
  .chat_inputForm__bthzr {
    display: flex;
    width: 100%;
    padding: 10px;
    padding-bottom: 40px;
    order: 1;
  }
  
  .chat_input__rI28U {
    flex-grow: 1;
    padding: 16px 24px;
    margin-right: 10px;
    border-radius: 60px;
    border: 2px solid transparent;
    font-size: 1em;
    background-color: #efefef;
  }
  
  .chat_input__rI28U:focus {
    outline: none !important;
    border-color: #000;
    background-color: white;
  }
  
  .chat_button__z5haG {
    padding: 8px 24px;
    background-color: #000;
    color: white;
    border: none;
    font-size: 1em;
    border-radius: 60px; /* Removed duplicate border-radius property */
  }
  
  .chat_button__z5haG:disabled {
    background-color: lightgrey;
  }
  
  .chat_messages__XyLmH {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    order: 2;
    white-space: pre-wrap;
  }
  
  .chat_userMessage__32P7X,
  .chat_assistantMessage__niicp,
  .chat_codeMessage__vijZt {
    margin: 8px 0;
    padding: 8px 16px;
    align-self: flex-start;
    border-radius: 15px;
    max-width: 80%;
    overflow-wrap: break-word;
  }
  
  .chat_assistantMessage__niicp img {
    max-width: 100%;
    margin: 8px 0px 8px 0px;
    border-radius: 8px;
  }
  
  .chat_userMessage__32P7X {
    align-self: flex-end;
    color: #fff;
    background-color: #000;
  }
  
  .chat_assistantMessage__niicp {
    background-color: #efefef;
  }
  
  .chat_codeMessage__vijZt {
    padding: 10px 16px;
    background-color: #e9e9e9;
    font-family: monospace;
    counter-reset: line;
  }
  
  .chat_codeMessage__vijZt > div {
    margin-top: 4px;
  }
  
  .chat_codeMessage__vijZt span {
    color: #b8b8b8;
    margin-right: 8px;
  }
  
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/file-viewer.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.file-viewer_fileViewer__5c_30 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #efefef;
    overflow: hidden;
    border-radius: 16px;
  }
  
  .file-viewer_filesList__pLeZy {
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    width: 100%;
  }
  
  .file-viewer_grow__czjP5 {
    flex-grow: 1;
  }
  
  .file-viewer_fileEntry__kuE7R {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ececf1;
    gap: 16px;
    width: 100%;
  }
  
  .file-viewer_fileName__qqHdK {
    flex-grow: 1;
  }
  .file-viewer_fileStatus__5sVRa {
    font-size: 0.8em;
    color: #666;
  }
  
  .file-viewer_fileDeleteIcon__YNm2F {
    cursor: pointer;
  }
  
  .file-viewer_fileUploadContainer__2UUUa {
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .file-viewer_fileUploadBtn__eAdnd {
    background-color: #000;
    color: white;
    padding: 8px 24px;
    border-radius: 32px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
  }
  
  .file-viewer_fileUploadInput__0sBpv {
    display: none;
  }
  
  .file-viewer_title__z1K7m {
    font-size: 1.2em;
    font-weight: 600;
  }
  
  .file-viewer_fileName__qqHdK {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./app/Chat/page.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.page_main__rNJPG {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .page_container__3u2YO {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  
  .page_column__AmJ3F {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: calc(100% - 40px);
    gap: 20px;
    margin: 20px;
    justify-content: space-between;
  }
  
  .page_column__AmJ3F > * {
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-radius: 16px;
  }
  .page_chatContainer__gzplF {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  
  .page_chat__FCnpH {
    max-width: 600px;
    width: 100%;
    height: 100%;
  }
  
